* {
    -fx-font-family: Verdana,sans-serif;
}

Button, ToggleButton {
    -fx-background-color: #bb86fc;
}
Button:hover, ToggleButton:hover {
    -fx-background-color: #c192fc;
}

Text {
    -fx-text-alignment: center;
    -fx-fill: #FDFDFD;
    -fx-font-size: 16;
}

Label {
    -fx-text-fill: #fdfdfd;
    -fx-font-size: 17;
    -fx-alignment: center;
}

Pane {
    -fx-background-color: #3a3a3c;
}

.root {
    -fx-background-color: #202124;
}

#targetGrid, #trackingGrid {
    -fx-background-color: #000;
    -fx-alignment: center;
    -fx-vgap: 1;
    -fx-hgap: 1;
    -fx-padding: 1;
    -fx-border-style: solid;
}

#trackingGrid .ship, #targetGrid .ship {
    -fx-background-color: white;
}

#endDialog {

}

.center-wrap {
    -fx-text-alignment: center;
    -fx-wrap-text: true;
}