.root {
    -fx-background-color: #202124;
}

#targetGrid, #trackingGrid {
    -fx-background-color: #000;
    -fx-alignment: center;
    -fx-vgap: 1;
    -fx-hgap: 1;
    -fx-padding: 1;
    -fx-border-style: solid;
}

#trackingGrid .ship, #targetGrid .ship {
    -fx-background-color: white;
}

#endDialog {

}

Text {
    -fx-text-alignment: center;
    -fx-fill: #FDFDFD;
    -fx-font-size: 16;
}

Label {
    -fx-text-fill: #fdfdfd;
    -fx-font-size: 17;
    -fx-alignment: center;
}

Pane {
    -fx-background-color: #3a3a3c;
}