* {
    -fx-font-family: Verdana,sans-serif;
}

Button, ToggleButton {
    -fx-background-color: #bb86fc;
}
Button:hover, ToggleButton:hover {
    -fx-background-color: #c192fc;
}

Text {
    -fx-text-alignment: center;
    -fx-fill: #FDFDFD;
    -fx-font-size: 16;
}

Label {
    -fx-text-fill: #fdfdfd;
    -fx-font-size: 17;
    -fx-alignment: center;
}

RadioButton {
    -fx-text-fill: white;
}

ProgressIndicator {
    -fx-progress-color: white;
    -fx-scale-x: 0.6;
    -fx-scale-y: 0.6;
}

.root {
    -fx-background-color: #202124;
}

#trackingGrid {
    -fx-background-color: #000;
    -fx-alignment: center;
    -fx-vgap: 1;
    -fx-hgap: 1;
    -fx-padding: 1;
    -fx-border-style: solid;
}

#trackingGrid Pane, #targetGrid Pane {
    -fx-background-color: #3a3a3c;
}

#trackingGrid .ship, #targetGrid .ship {
    -fx-background-color: white;
}

#waitOpponent Text {
    -fx-font-size: 16;
}
